
<form name="myForm" ng-submit="add(x)">
	<div class="form-group col-md-12">
		<div class="col-md-2">Enter First-Name</div>
		<div class="col-md-4">
			<!-- <input name="myName" ng-model="myName" placeholder="enter first name" class="formcontrol" required type="text" /> -->
			<input type="text" class="form-control" placeholder="enter first name" required name="firstName"  ng-model="x.firstName" ng-minlength="3" ng-maxlength="20"/>
		</div>
		<div class="col-md-6">
			
			<span ng-show="myForm.firstName.$error.minlength" class="help-block">first name is too short.</span>
			<span ng-show="myForm.firstName.$error.maxlength">max length 20.</span>
		</div>
	</div>
	<div class="form-group col-md-12">
		<div class="col-md-2">Enter last-Name</div>
		<div class="col-md-4">
			<!-- <input type="text" class="form-control" placeholder="enter last name" required/> -->
			 <input type="text" name="lastNmae" class="form-control" ng-model="x.lastNmae" ng-minlength="3" ng-maxlength="20" placeholder="enter last name" required/>
            
		</div>
		<div class="col-md-6">
			<div class="col-md-6">
			
			<span ng-show="myForm.lastNmae.$error.minlength" class="help-block">first name is too short.</span>
			<span ng-show="myForm.lastNmae.$error.maxlength">max length 20.</span>
		</div>
		</div>
	</div>
	<div class="form-group col-md-12">
		<div class="col-md-2">Enter Mobile Number</div>
		<div class="col-md-4">
			<input type="number" class="form-control" placeholder="enter mobile number" required name="mobileNum" ng-model="x.mobileNum" ng-minlength="10" ng-maxlength="10"/>
		</div>
		<div class="col-md-6">
			
			<span ng-show="myForm.mobileNum.$error.minlength">enter 10 digits mobile number</span>
			<span ng-show="myForm.mobileNum.$error.maxlength">enter 10 digits mobile number only</span>
		</div>
	</div>
	<div class="form-group col-md-12">
		<div class="col-md-2">Enter Email-id</div>
		<div class="col-md-4">
			<input type="email" class="form-control" placeholder="enter Email-id" required name="email" ng-model="x.email"/>
		</div>
		<div class="col-md-6">
			
			
		</div>
	</div>
	<div class="form-group col-md-12">
		<div class="text-center col-md-6">
			<button class="btn-primary btn-sm">Add</button>
		</div>
	</div>

</form>

