
<div class="container">
	<div class="col-md-1"></div>
	<div class="col-md-10">
	<h1>Nested routing example</h1>
		<ul class="nav navbar-nav">
        <li><a ui-sref=".view1">view1</a></li>
        <li><a ui-sref=".view2">view2</a></li>
         <li><a ui-sref="view3">view3</a></li>
    </ul>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="container">
    <div ui-view>
   
    </div>
    
</div>
<!-- <div ng-repeat="post in posts">
    <span>{{post.name}}</span>
    <span>{{post.city}}</span>
    <span>{{post.state}}</span>
</div> -->
